.container{
    border: 3px solid blue;
    padding: 10px;
}
.col{
    border: 3px solid red;
}
.col-5{
    border: 3px solid red;
}
.col-7{
    border: 3px solid red;
}
.col-8{
    border: 3px solid red;
}
.col-4{
    border: 3px solid red;
}